.asteroid {
  transform-origin: 50%;
  animation: rotation 1000ms infinite linear;
}


.scoreboard {
  margin: 10px auto;
  padding: 5px;
  width: 130px;
  height: 50px;
}


.highScore .current .collisions {
  margin: 10px auto;
  padding: 5px;
  width: 130px;
  height: 50px;
}


.board {
  background-image: url('./pictures/galaxy.jpg');
  margin: 0px auto;
  width: 800px;
  height: 600px;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}