body {
  position: relative;
}

.asteroid {
  background-image: url('asteroid.png');
  position: absolute;
  background-size: 100% 100%;
  transform-origin: 50% 50%;
  animation: rotation 1000ms infinite linear;
}


.scoreboard {
  position: absolute;
  width: 130px;
  height: 60px;
  top: 15px;
  right: 15px;
  border: 1px solid black;
}

.mouse {
  position: absolute;

}


.board {
  background-image: url('galaxy.jpg');
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  height: 600px;
  border: 1px solid black;

}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}